#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0%;
  text-align: center;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
  }
  .ant-input-number-input {
    text-align: center !important;
  }